.description {
  display: inline-block;
  padding-left: 0.5em;
  border-left-style: solid;
  border-left-width: 0.13em;
}

.signature a {
  text-decoration: none;
}

.servicerocket-logo {
  vertical-align: top;
  padding-right: 0.5em;
}

.name,
.position-title {
  font-weight: bold;
}